.card-container {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  width: 326px;
}

.favorite-btn {
  position: absolute;
  top: -45px;
  left: 55px;
  z-index: 2;
}

.img-character {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

